.App{
  /* background-color: #fafbff; */
  width: 100%;
  height: auto;
  font-family: 'Maven Pro', sans-serif;


}
html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myRow{
  display: flex;
  flex-direction: row;
}

.no-box-shadow:focus {
  box-shadow: none;
  border-color: inherit;
}

.text-arrow {
  cursor: pointer;
}

.Brounded{
  border-radius: 15px;
}

a.no-color {
  color: inherit;
  text-decoration: none;
}

a.no-color:hover {
  color: #d36600;
}


.full-background-svg {
  /* Full page background */
  background: url('/public/imgs/wave.svg') no-repeat center center fixed; 
  /* Cover entire page */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.text-arrow {
  cursor: pointer;
}

.Brounded {
  border-radius: 15px;
}

.w-40 {
  width: 40%;
}

.sidebarLogo {
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.grow {
  transition: transform 0.3s;
}

.grow:hover {
  transform: scale(1.1);
}

.growbig {
  transition: transform 0.4s;
}

.growbig:hover {
  transform: scale(1.3);
}

.sidebarLogo:hover {
  color: white;
}

.justifying {
  display: flex;
  justify-content: space-evenly;
}

.round25 {
  border-radius: 25px;
}

.smallstatcolorcard {
  background-color: #2c2c2c;
}

.w-90 {
  width: 90%;
}

.exit{

}

.exit:hover{
  color:red;
}

.hight-fit{
  height: fit-content;
}