.App{
  /* background-color: #fafbff; */
  width: 100%;
  height: auto;
  font-family: 'Maven Pro', sans-serif;


}
html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myRow{
  display: flex;
  flex-direction: row;
}

.no-box-shadow:focus {
  box-shadow: none;
  border-color: inherit;
}

.text-arrow {
  cursor: pointer;
}

.Brounded{
  border-radius: 15px;
}


.Brounded{
  border-radius: 15px;
}

a.no-color {
  color: inherit;
  text-decoration: none;
}

a.no-color:hover {
  color: #d36600;
}


.full-background-svg {
  /* Full page background */
  background: url('/public/imgs/wave.svg') no-repeat center center fixed; 
  /* Cover entire page */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}