ashraf viedo/
video landmark +SRT/
coords.csv
filtered/
server/backend/db.sqlite
db.sqlite


server/.idea/misc.xml
server/.idea/modules.xml
server/.idea/server.iml
server/backend/.idea/backend_GP.iml
server/backend/.idea/misc.xml
*.iml
server/backend/.idea/backend_GP.iml
server/backend/.idea/misc.xml
server/backend/db.sqlite
server/backend/db.sqlite
server/backend/file
