.SideBar{
    background-color: #191b1f;
    color: whitesmoke;
    min-height: 100vh;
    word-wrap: break-word;
}

.SecondSection{
    background-color: rgb(236, 236, 236);
}

.StatisticsPage{
    background-color: whitesmoke;
}

.preformanceInsight{
    background-color: white;
    
}

.actionButt{
    background-color: #798777;
    color: whitesmoke;
    border: none;
}

